# MongoDB Connection
# Panduan: Buat Cluster di MongoDB Atlas (https://www.mongodb.com/atlas/database)
# Ganti dengan connection string yang diberikan oleh Atlas
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/arunika?retryWrites=true&w=majority

# Next.js
NEXTAUTH_SECRET=rahasia_untuk_sesi_enkripsi_aplikasi_anda
NEXTAUTH_URL=http://localhost:3000
