MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/arunika?retryWrites=true&w=majority
MONGODB_URI_FALLBACK=mongodb://<username>:<password>@<host1>:27017,<host2>:27017,<host3>:27017/arunika?ssl=true&authSource=admin&retryWrites=true&w=majority
NEXTAUTH_SECRET=rahasia_untuk_sesi_enkripsi_aplikasi_anda
NEXTAUTH_URL=http://localhost:3000
